<mat-accordion>
    <mat-expansion-panel *ngFor="let subject of subjects">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ subject.name }}
            </mat-panel-title>
            <mat-panel-description>
                {{ subject.id + ' ' + subject.credit }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group class="chooser-radio-group" [(ngModel)]="subject.selected" (change)="change(subject)" labelPosition="before"
            value="getSections(subject.sections)[0]">
            <mat-radio-button class="chooser-radio-button" *ngFor="let section of getSections(subject.sections)" [value]="section">
                {{ parseSection(subject.sections[section], section) }}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                General Education
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput placeholder="Gened name" [(ngModel)]="gened.name">
        </mat-form-field>
        <mat-radio-group class="chooser-radio-group" [(ngModel)]="gened.time" (change)="change(gened.time, true)" labelPosition="before">
            <mat-radio-button class="chooser-radio-button" value="09:00-12:00">
                Morning (9am - 12pm)
            </mat-radio-button>
            <mat-radio-button class="chooser-radio-button" value="13:00-16:00">
                Afternoon (1pm - 4pm)
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
</mat-accordion>