.chooser-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.chooser-radio-button {
  margin: 5px;
}
.mat-radio-label-content.mat-radio-label-before {
  word-break: break-word !important;
  width: 100% !important;
}
